In [105]:
import numpy as np
import pandas as pd
import os
import pickle
os.chdir(r'C:\Users\----\Desktop\Tapsetary')

In [7]:
file_list = os.listdir();file_list

['Coach - Asia payments for leases that end after 2026.xlsx',
 'Coach - Asia payments for leases that end before 2026.xlsx',
 'Coach - NA payments for leases that end after 2024.xlsx',
 'Coach - NA payments for leases that end before 2021.xlsx',
 'Coach - NA payments for leases that end between 2021-2022.xlsx',
 'Coach - NA payments for leases that end between 2023-2024.xlsx',
 'Coach - Remaining International payments.xlsx',
 'Coach Europe - All payments.xlsx',
 'Kate Spade - International payments.xlsx',
 'Kate Spade - NA payments for leases that end after 2027.xlsx',
 'Kate Spade - NA payments for leases that end before 2025.xlsx',
 'Kate Spade - NA payments for leases that end between 2025-2027.xlsx',
 'Stuart Weitzman - All payments.xlsx',
 'Tapestry_list of Batch 2 leases.xlsx']

In [11]:
leases_id = pd.read_excel(os.path.join(os.getcwd(),file_list[-1]),header=1);leases_id.head()

,Unnamed: 0,EY ID,Door #,Brand,Address,City,State,Country
0,NaN,1,AU235,Coach,260 Collins St,Melbourne,Victoria,AUS
1,NaN,2,A164,Coach,435 Orchard Road,Singapore,NAV,SGP
2,NaN,3,A130,Coach,"Level 2 & 3, Pavilion Kuala Lumpur Shopping ma...",Kuala Lumpur,NAV,MYS
3,NaN,4,A338,Coach,Piazza della Repubblica,Florence,NAV,ITA
4,NaN,5,A408,Coach,10 Chaoyang N Rd,Beijing,NAV,CHN

In [56]:
door_id = leases_id['Door #'];len(door_id);#door_id

In [17]:
file = file_list[1]
temp_df = pd.read_excel(os.path.join(os.getcwd(),file),skiprows=4); temp_df.head()

,S4 Site #,Store #,Name,Primary Use,Business Unit,Currency,Lease Classification,Process Type,Accounting Type,Payment Post Type,...,Accounting Start Date,Accounting End Date,Lease Term,Initial Liability Carryover Balance,Unnamed: 32,Incremental Borrowing Rate,Unnamed: 34,Option ID,Renewal Expiration Date,Geography Lookup
0,Asia DC,DHL,DHL SC ADC,Distribution,Asia - Coach,Chinese Yuan,Operating,Process Payments,Accounts Payable (AP),Pre-payment,...,2019-07-01,2021-09-30,2 Years 3 Months,0.0,Chinese Yuan,3.57,percent,NaN,NaT,\Geography\Asia\China\Shanghai
1,Asia DC,DHL,DHL SC ADC,Distribution,Asia - Coach,Chinese Yuan,Operating,Process Payments,Accounts Payable (AP),Pre-payment,...,2019-07-01,2021-09-30,2 Years 3 Months,0.0,Chinese Yuan,3.57,percent,NaN,NaT,\Geography\Asia\China\Shanghai
2,Asia DC,DHL,DHL SC ADC,Distribution,Asia - Coach,Chinese Yuan,Operating,Process Payments,Accounts Payable (AP),Pre-payment,...,2019-07-01,2021-09-30,2 Years 3 Months,0.0,Chinese Yuan,3.57,percent,NaN,NaT,\Geography\Asia\China\Shanghai
3,Asia DC,DHL,DHL SC ADC,Distribution,Asia - Coach,Chinese Yuan,Operating,Process Payments,Accounts Payable (AP),Pre-payment,...,2019-07-01,2021-09-30,2 Years 3 Months,0.0,Chinese Yuan,3.57,percent,NaN,NaT,\Geography\Asia\China\Shanghai
4,Asia DC,DHL,DHL SC ADC,Distribution,Asia - Coach,Chinese Yuan,Operating,Process Payments,Accounts Payable (AP),Pre-payment,...,2019-07-01,2021-09-30,2 Years 3 Months,0.0,Chinese Yuan,3.57,percent,NaN,NaT,\Geography\Asia\China\Shanghai

In [32]:
tempIds = temp_df[temp_df.columns[0]].unique()
idsExtract = set(tempIds).intersection(door_id)

In [55]:
#temp_df['Start Date']
#temp_df['Expected Expense']
#temp_df['S4 Site #']

In [82]:
searchText = 'Common Area Maintenance Prepaid - Fixed'
df = pd.DataFrame()
for file in file_list[:-1]:
    try:
        print('reading file ',file)
        temp_df = pd.read_excel(os.path.join(os.getcwd(),file),skiprows=4)
        temp_df = temp_df[temp_df['Payment Type']==searchText][['S4 Site #','Start Date','Expected Expense','Currency','Business Unit']]
        df = pd.concat([df,temp_df])
        print('completed file',file)
    except:
        pass

reading file  Coach - Asia payments for leases that end after 2026.xlsx
completed file Coach - Asia payments for leases that end after 2026.xlsx
reading file  Coach - Asia payments for leases that end before 2026.xlsx
completed file Coach - Asia payments for leases that end before 2026.xlsx
reading file  Coach - NA payments for leases that end after 2024.xlsx
completed file Coach - NA payments for leases that end after 2024.xlsx
reading file  Coach - NA payments for leases that end before 2021.xlsx
completed file Coach - NA payments for leases that end before 2021.xlsx
reading file  Coach - NA payments for leases that end between 2021-2022.xlsx
completed file Coach - NA payments for leases that end between 2021-2022.xlsx
reading file  Coach - NA payments for leases that end between 2023-2024.xlsx
completed file Coach - NA payments for leases that end between 2023-2024.xlsx
reading file  Coach - Remaining International payments.xlsx
completed file Coach - Remaining International payments.xlsx
reading file  Coach Europe - All payments.xlsx
completed file Coach Europe - All payments.xlsx
reading file  Kate Spade - International payments.xlsx
completed file Kate Spade - International payments.xlsx
reading file  Kate Spade - NA payments for leases that end after 2027.xlsx
completed file Kate Spade - NA payments for leases that end after 2027.xlsx
reading file  Kate Spade - NA payments for leases that end before 2025.xlsx
completed file Kate Spade - NA payments for leases that end before 2025.xlsx
reading file  Kate Spade - NA payments for leases that end between 2025-2027.xlsx
completed file Kate Spade - NA payments for leases that end between 2025-2027.xlsx
reading file  Stuart Weitzman - All payments.xlsx
completed file Stuart Weitzman - All payments.xlsx

In [125]:
df.to_csv('combined.csv')

In [89]:
## trying an approach to store data frames in a list of dataframes
dfList = []

In [90]:
dfList.append(df)

In [96]:
fileDict = {'file_{}'.format(i+1):file for i,file in enumerate(file_list[:-1]) }
# creating a key of all file list

In [101]:
dfDict = {'file_{}'.format(i+1):pd.read_excel(os.path.join(os.getcwd(),file),skiprows=4) for i,file in enumerate(file_list[:-1])}

In [107]:
pickle.dump(dfDict, open("frames_dict.p", "wb")) 
# saved the data frames as a pickle

In [120]:
for ind,key in enumerate(dfDict.keys()):
        print(ind," : ",np.all(dfDict[key].columns==dfDict['file_1'].columns))

0  :  True
1  :  True
2  :  True
3  :  True
4  :  True
5  :  True
6  :  True
7  :  True
8  :  True
9  :  True
10  :  True
11  :  True
12  :  True

In [121]:
dfCombined = pd.DataFrame()
for key in dfDict.keys():
    dfCombined = pd.concat([dfCombined,dfDict[key]],axis=0)

In [129]:
dfCombined.to_csv('ALL_FILES_COMBINED.csv')

In [145]:
List = list(dfCombined['Payment Type'].dropna().unique())

In [147]:
paymentFilter = []
for l in List:
    if 'Fixed' in l:
        paymentFilter.append(l)

In [164]:
sorted(paymentFilter)

['Admin Expense Prepaid - Fixed',
 'Common Area Maintenance Prepaid - Fixed',
 'Electric Prepaid - Fixed',
 'Fire Detection Prepaid - Fixed',
 'HVAC Equipment Prepaid - Fixed',
 'HVAC Prepaid - Fixed',
 'Insurance Prepaid - Fixed',
 'Lease Required Advertising Prepaid - Fixed',
 'Management Fee/Service Charges Prepaid - Fixed',
 'Marketing Prepaid - Fixed',
 'Media Fund Prepaid - Fixed',
 'Merchant Association Prepaid - Fixed',
 'Operating Expenses Prepaid - Fixed',
 'Promotional Fee Prepaid - Fixed',
 'Promotional Fund Prepaid - Fixed',
 'Real Estate Taxes Prepaid - Fixed',
 'Security Prepaid - Fixed',
 'Signage Electric Prepaid - Fixed',
 'Sprinkler Prepaid - Fixed',
 'Steam Prepaid - Fixed',
 'Storage Prepaid - Fixed',
 'Storage Rent Expense - Fixed',
 'Trash Removal Prepaid - Fixed',
 'Utilities Prepaid - Fixed',
 'Water Prepaid - Fixed']

In [165]:
len(paymentFilter)

25

In [158]:
dfCombined.set_index('Payment Type',inplace=True)

In [163]:
dfCombined.loc[paymentFilter][['S4 Site #','Start Date','Expected Expense','Currency','Business Unit']].to_csv('combined_version2.csv')

In [167]:
dfCombined.loc[paymentFilter][['S4 Site #','Start Date','Expected Expense','Currency','Business Unit']].head()

,S4 Site #,Start Date,Expected Expense,Currency,Business Unit
Payment Type,,,,,
Management Fee/Service Charges Prepaid - Fixed,A719,2022-12-01,10169.812258,Chinese Yuan,Asia - Coach
Management Fee/Service Charges Prepaid - Fixed,A719,2019-08-01,22518.870000,Chinese Yuan,Asia - Coach
Management Fee/Service Charges Prepaid - Fixed,A719,2019-07-01,22518.870000,Chinese Yuan,Asia - Coach
Management Fee/Service Charges Prepaid - Fixed,A719,2019-09-01,22518.870000,Chinese Yuan,Asia - Coach
Management Fee/Service Charges Prepaid - Fixed,A719,2019-10-01,22518.870000,Chinese Yuan,Asia - Coach

In [170]:
# saving a cf file for base rent
baseRentFilter = []
for l in List:
    if 'Base' in l or 'base' in l:
        baseRentFilter.append(l)
        print(l)

Base Rent Expense
Base Rent Prepaid

In [174]:
dfCombined.loc[baseRentFilter][['S4 Site #','Start Date','Expected Expense','Currency','Business Unit']].to_csv('base_rent.csv')